<div class="field" [formGroup]="field" [class.without-toggle]="toggleNone === false" >
  <div class="field__header">
    <div class="field__label"><span (click)="toggleState()">{{ field.get('title').value }}</span></div>
    <app-toggle class="field__toggle" formControlName="state" *ngIf="toggleNone"></app-toggle>
  </div>
  <mat-form-field *ngIf="!isPhoto">
    <input matInput readonly formControlName="value">
  </mat-form-field>
  <app-photo *ngIf="isPhoto" [src]="field.get('value').value"></app-photo>
  <mat-form-field [class.hidden]="!(field.get('state').value === false)" *ngIf="toggleNone">
    <textarea
      formControlName="message"
      matInput
      placeholder="Причина отказа"
      cdkTextareaAutosize
      cdkAutosizeMinRows="2"
      cdkAutosizeMaxRows="5"></textarea>
  </mat-form-field>
</div>
