<div class="field">
  <div class="field__label">{{Label}}</div>
  <div class="field__value">{{Value}}</div>
    <div class="toggle" [class.success]="currentStatus === true" [class.fail]="currentStatus === false" >
      <div class="toggle__ball"></div>
      <div class="toggle__btns">
        <button class="toggle__btn" (click)="onClick(false)" ></button>
        <button class="toggle__btn" (click)="onClick(underfined)"></button>
        <button class="toggle__btn" (click)="onClick(true)"></button>
      </div>
      <div class="toggle__cause">
        <b>Причина отказа</b>
        <textarea name="failure-documentbinding" [id]="value"></textarea>
      </div>
    </div>
</div>
