:host {
  display: block;
  width: 100%;
  position: relative;
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}

.field {
  width: 100%;
  position: relative;
  &__info{
    @media screen and (min-width: 500px) {
      display: flex;
      flex-direction: row;
      align-items: flex-start;
      justify-content: space-between;
    }
  }
  &__label {
    display: block;
    font-size: 13px;
    line-height: 18px;
    text-transform: uppercase;
    letter-spacing: 0.05em;
    color: rgba(255, 255, 255, 0.5);
    font-weight: bold;
    position: relative;
    display: flex;
    align-items: center;
    text-align: left;
    width: 180px;
    cursor: pointer;
    user-select: none;
    width: calc(100% - 74px);
    &:hover{
      color: rgba(255, 255, 255, 0.7);
    }
    padding: 14px 0 6px;
    @media screen and (min-width: 500px) {
      padding: 16px 0 14px;
    }
  }
  &__value{
    margin: 0;
    font-size: 15px;
    line-height: 17px;
    font-weight: normal;
    margin-top: 10px;
    height: 150px;
    position: relative;
    margin: 12px 0 16px;
    @media screen and (min-width: 500px) {
      margin: 16px 0 16px;
    }
    & .holder, & .photo, & .actions{
      display: block;
      position: absolute;
      left: 0;
      right: 0;
      top: 0;
      bottom: 0;
      background-repeat: no-repeat;
      background-image: url('/assets/icons/pic-holder.svg');
      background-position: center center;
      background-size: contain;
    }
    & .actions{
      background-image: none;
      background-color: rgba(54, 54, 68, .25);
      display: flex;
      flex-direction: column;
      align-items: flex-end;
      padding: 10px;
    }
    & .action{
      background-color: transparent;
      width: 40px;
      height: 40px;
      display: flex;
      align-items: center;
      justify-content: center;
      cursor: pointer;
      &:hover{
        & img{
          opacity: 1;
        }
      }
      & img{
        display: block;
        width: 20px;
        height: 20px;
        opacity: .5;
      }
      &.split{
        display: none;
        @media screen and (min-width: 768px) {
          display: flex;
        }
      }
    }
  }
  &__toggle{
    display: block;
    width: 74px;
    position: absolute;
    top: 12px;
    right: 0;
    @media screen and (min-width: 500px) {
      position: static;
      margin-top: 13px;
    }
  }
  &__message{
    display: block;
    width: 100%;
    .mat-form-field{
      display: block;
    }
    /deep/ textarea {
      background-color: #4d4d5a;
    }
    /deep/ .mat-form-field-underline {
      display: none;
    }
    /deep/ .mat-form-field-wrapper {
      padding-bottom: 0;
    }
  }
}

.without-toggle .field__header {
    padding-left: 0;
}
