<div class="field" *ngIf="field">
  <div class="field__info">
    <span class="field__label"
      [class.fullwith]="!value && noMessage"
      [class.nohover]="stateless"
      (click)="toggleState($event)">
      {{ title | translate: lang }}
    </span>
    <p class="field__value" *ngIf="value !== 'endless'">
      {{ value }}
    </p>
    <p class="field__value" *ngIf="value === 'endless'">
      {{ value | translate : lang }}
    </p>
    <ng-container
      *ngIf="field.state && field.control"
      [formGroup]="field.control">
      <app-request-form-toggler
        *ngIf="field.state && field.control"
        class="field__toggle"
        formControlName="status">
      </app-request-form-toggler>
    </ng-container>
  </div>
  <div class="field__message"
    *ngIf="field.state && field.control && field.comment"
    [formGroup]="field.control"
    [class.hidden]="!(state === false)">
    <mat-form-field>
      <textarea
        formControlName="comment"
        matInput
        placeholder="{{ 'Rejection reason' | translate : lang }}"
        cdkTextareaAutosize
        cdkAutosizeMinRows="3"
        cdkAutosizeMaxRows="6">
      </textarea>
    </mat-form-field>
  </div>
</div>
