<div class="table">
    <h1 class="table__title">История идентификаций</h1>
    <div class="table__filters table-filters">
      <label class="table-filters__input">
        <input type="text" placeholder="Поиск">
      </label>
    </div>
  
    <div class="table__container">
      <table mat-table [dataSource]="dataSource" matSort>
        <ng-container matColumnDef="id">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> # </th>
          <td mat-cell *matCellDef="let row">{{ row.id }} </td>
        </ng-container>
        <ng-container matColumnDef="user_id">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Пользователь </th>
          <td mat-cell *matCellDef="let row">ID: {{ row.user_id }}, {{row.user_name}} {{row.user_surname}} </td>
        </ng-container>
        <ng-container matColumnDef="deal_id">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> id сделки </th>
          <td mat-cell *matCellDef="let row"> {{row.deal_id}} </td>
        </ng-container>
        <ng-container matColumnDef="date">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Дата проверки </th>
          <td mat-cell *matCellDef="let row"> {{row.date | date : format : timezone}} </td>
        </ng-container>
        <ng-container matColumnDef="result">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Результат </th>
          <td mat-cell *matCellDef="let row"> {{row.result}} </td>
        </ng-container>
        <ng-container matColumnDef="details">
          <th mat-header-cell *matHeaderCellDef></th>
          <td mat-cell *matCellDef="let row">
            <button mat-button>Подробнее</button>
          </td>
        </ng-container>
        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
      </table>
      <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator>
    </div>
  </div>
  