.main{
  margin: 30px 0 30px;
  position: relative;
  overflow: hidden;
  &__content{
    background-color: #353545;
    box-shadow: 0 0 24px rgba(0,0,0,.15);
    padding: 40px 50px;
    color: #fff;
    margin: 30px auto 50px;
    border-radius: 12px;
    width: auto;
    max-width: 1280px;
    text-align: center;
    height: 50vh;
    min-height: 400px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  &__title{
    margin: 0;
    font-size: 26px;
    color: rgba(255, 255, 255, 1);
    font-weight: 900;
    text-transform: uppercase;
    letter-spacing: 0.04em;
    max-width: 500px;
    margin-bottom: 50px;
    & strong{
      color: #009cff;
    }
    & small{
      text-transform: none;
      color: rgba(255, 255, 255, .5);
    }
  }
  &__button{
    font-size: 16px;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 0.08em;
    height: 50px;
    padding: 0 32px;
    color: white;
    border-radius: 30px;
    border: 2px solid #f7931a;
    cursor: pointer;
    &:disabled{
      border: 2px solid rgba(247, 147, 26, .5);
      pointer-events: none;
    }
    &.loading{
      background-image: url("/assets/loading-spinner.svg");
      background-position: center center;
      background-repeat: no-repeat;
      & span {
        opacity: 0;
      }
    }
  }
}
