<div class="queue-info">
  <div class="queue-info__container">
    <div class="queue-info__data">
      <ul class="queue-info__items">
        <li class="queue-info__item">Ожидает верфикацию: 
        </li>
        <li class="queue-info__item">Ожидает идентификацию со статусом transaction: 
        </li>
        <li class="queue-info__item">Ожидает идентификацию со статусом initiative: 
        </li>
        <li class="queue-info__item">Ожидает сделки: 
        </li>
      </ul>
      <ul class="queue-info__items">
        <li class="queue-info__item">
          {{ waitingVerificationCount }}
        </li>
        <li class="queue-info__item">
          {{ waitingIdentificationTransactionCount }}
        </li>
        <li class="queue-info__item">
        {{ waitingIdentificationInitiativeCount }}
        </li>
        <li class="queue-info__item">
          {{ waitingDealCount }}
        </li>
      </ul>
    </div>
    <button class="queue-info__btn" [class.hidden]="noQueue" (click)="next()" >Перейти к {{word}} </button>
    <button class="queue-info__btn" (click)="minuseOne()" >-1 </button>
  </div>
</div>