
<div class="confirm-dialog">
  <h3 class="confirm-dialog__text">
    Вы приняли решение
    <ng-container *ngIf="data.approved && data.identification">
      идентифицировать
    </ng-container>
    <ng-container  *ngIf="!data.approved && data.identification">
      не идентифицировать
    </ng-container>
    <ng-container *ngIf="data.approved && !data.identification">
      верифицировать
    </ng-container>
    <ng-container  *ngIf="!data.approved && !data.identification">
      не верифицировать
    </ng-container>
      Пользователя
    {{ data.user }}?
  </h3>
  <div class="confirm-dialog__buttons">
    <button mat-stroked-button (click)="confirm(true)">Да</button>
    <button mat-button  (click)="confirm(false)">Нет</button>
  </div>
</div>

